@import '../../assets/scss/main';

.inicial {
    background-image: url(../../assets/img/desenvolvedor-web.png);
    background-repeat: no-repeat;
    height: 700px;
    background-position: top;
    background-size:100% 100%;
    background-attachment: fixed;
}