<section class="inicial">
  <div class="painel">
    <div class="painel-option">
      <div class="option">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <div class="painel-text">
          Rio de janeiro - Rj
        </div>
      </div>

      <div class="option">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <div class="painel-text">
          sd.rolandi@gmail.com
        </div>
      </div>

      <div class="option">
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <div class="painel-text">
          (21) 97362-9318
        </div>
      </div>

    </div>
  </div>

  <div class="introducao-texto">
    <div class="introducao-texto__nome">Desenvolvedor Front-End</div>
    <div class="introducao-texto__apresentacao">
      Minha paixão é está desenvolvendo, me dedicando para ser melhor a cada dia. <br>
      Faça da sua vida mais "Responsivo".
    </div>

    <a href="#about" v-smooth-scroll><i class="fa fa-arrow-down"></i>Saiba mais</a>
  </div>
</section>