@import "../../assets/scss/main";

.inicial {
  background-image: url("../../assets/img/desenvolvedor-web.jpg");

  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  height: 100vh;

  .menu {
    display: flex;
    align-items: center;
  } 
  
}
