<section id="about">
  <div class="about-container">
    <h1 class="about-titulo">Sobre</h1>
  </div>

  <div class="about-conteudo">

    <div class="about-conteiner">
      <h3 class="about-subtitulo">
       Desenvolvedor Front-End 
      </h3>
      <p class="about-text">
        Olá, eu sou Yuri Rolandi. Atualmente trabalho na empresa Medgrupo, onde ajudo a criar apostilas em HTML e CSS
        utilizando no dia a dia o Git, Kanbanize, Sass, JavaScript e metodologia ágil para gestão e planejamento de
        projetos de software (SCRUM), o framework Vue.js e React são os meus preferios para utilização diaria;
      </p>
      <div class="about-media">
        <ul class="media-conteudo">
          <li class="media-item"><a href="https://github.com/yurirolandi" target="_blank"><i class="fa fa-github"></i>Git Hub</a></li>
          <li class="media-item"><a download="../../assets/Curriculum Yuri Rolandi.pdf"><i class="fa fa-download"></i>Baixar - Curriculo</a></li>
        </ul>
      </div>
    </div>


    <div class="about-skill">
      <h2 class="skill-titulo">
        Skills
      </h2>

      <div class="skill-box">
        <div class="skill-conteiner">
          <h4 class="skill-item">Html</h4>
          <div class="html-bar"><img src="../../assets/svgs/html5-brands.svg"></div>

        </div>

        <div class="skill-conteiner">
          <h4 class="skill-item">Css</h4>
          <div class="css-bar"><img src="../../assets/svgs/css3-alt-brands.svg"></div>
        </div>
        
        <div class="skill-conteiner">
          <h4 class="skill-item">JavaScript</h4>
          <div class="js-bar"><img src="../../assets/svgs/js-square-brands.svg"></div>
        </div>

        <div class="skill-conteiner">
          <h4 class="skill-item">Vue.Js</h4>
          <div class="vue-bar"><img src="../../assets/svgs/vuejs-brands.svg"></div>
        </div>

        <div class="skill-conteiner">
          <h4 class="skill-item">Git</h4>
          <div class="git-bar"><img src="../../assets/svgs/github-brands.svg"></div>
        </div>

        <div class="skill-conteiner">
          <h4 class="skill-item">React</h4>
          <div class="react-bar"><img src="../../assets/svgs/react-brands.svg"></div>
        </div>
      </div>
    </div>
  </div>


</section>