@import '../../assets/scss/main.scss';

.about {
    background-color: $color-preto;
    .about-container{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .about-titulo{
            display: block;
            font-size: 1.8em;
            color: $color-primaria;
            align-self: center;
            width: fit-content;
            margin-top: 60px;
            padding: 10px;
            border-bottom: 2px solid $color-base;
            font-family: Montserrat;
        }
    }

    .about-conteudo{
            display: flex;
            padding: 30px;
            justify-content: center;

        .about-conteiner{
            display: flex;
            flex-direction: column;
            margin: 80px 0 0 0;
            width: 50%;
            
            .about-subtitulo{
                font-size: 1.2em;
                color: $color-branca;
                margin-bottom: 10px;
                font-family: roboto;
            }
    
            .about-text{
                font-size: 1em;
                text-align: left;
                width: 70%;
                color: $color-branca;
                font-family: roboto;
                line-height: 1.6;
            }

            .about-media{
                display: block;
                margin: 20px 0;

                .media-conteudo{
                    list-style: none;
                }

                .media-item{
                    display: inline-block;
                    border: 2px solid $color-base;
                    padding: 10px;
                    margin: 10px 10px 0 0;
                    border-radius: 4px;
                    cursor: pointer;
                    &:hover{
                        background-color: $color-base;
                        color: $color-primaria;
                    }

                    a{
                        text-decoration: none;
                        color: $color-branca;
                        font-family: Montserrat;

                        i{
                            font-size: 25px;
                            color: $color-secundaria;
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
        }

        
    }


    .about-skill{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        width: 400px;
        height: 100%;

        .skill-titulo{
            font-size: 1.5em;
            padding: 6px 0 10px 0;
            border-bottom: 4px solid $color-base;
            font-family: roboto;
            width: fit-content;
            align-self: center;
            color: $color-branca;
            margin-bottom: 10px;
        }

        .skill-item{
            color: $color-branca;
            font-size: 1.1em;
            align-self: center;
            margin: 12px 10px 10px 10px;
            font-family: roboto;
        }

        .skill-box{
            display: flex;
            flex-wrap: wrap;
            .skill-conteiner{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                  
                border: 2px solid $color-branca;
                border-radius: 50px;
                background-color: $color-base;
                margin: 10px 5px 0 0;
                width: 48%;
                padding: 5px 10px;
    
                .html-bar, 
                .css-bar,
                .js-bar,
                .vue-bar,
                .git-bar,
                .react-bar {
                    width: 36px;
                    margin: 5px;
                    height: 36px;
                    img{
                        width: 35px;
                        height: 33px;
                    }
                }
            }
        }
    }
}