@import '../../assets/scss/main.scss';

.about {
    background-color: $color-preto;
    .about-container{
        display: flex;
        flex-direction: column;

        .about-titulo{
            display: inline-block;
            font-size: 1.6em;
            color: $color-primaria;
            align-self: center;
            width: fit-content;
            margin-top: 25px;
            border-bottom: 2px solid $color-base;
        }
    }

    .about-conteudo{
            display: flex;
            padding: 30px;
            justify-content: center;
        .about-conteiner{
            display: flex;
            flex-direction: column;
            margin: 80px 0 0 50px;
            width: 70%;
            
            .about-subtitulo{
                font-size: 1.2em;
                color: $color-branca;
                margin-bottom: 10px;
            }
    
            .about-text{
                font-size: 1em;
                text-align: left;
                width: 70%;
                color: $color-branca;
            }

            .about-media{
                display: block;

                .media-conteudo{
                    list-style: none;
                }

                .media-item{
                    display: inline-block;
                    border: 2px solid $color-base;
                    padding: 10px;
                    margin: 10px 10px 0 0;
                    border-radius: 4px;
                    cursor: pointer;
                    &:hover{
                        background-color: $color-base;
                    }

                    a{
                        text-decoration: none;
                        color: $color-quaternaria;
                    }
                }
            }
        }
    }


    .about-skill{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 600px;
        margin-right: 50px;

        .skill-titulo{
            font-size: 1.5em;
            padding: 6px 0 10px 0;
            border-bottom: 4px solid $color-base;
            width: fit-content;
            align-self: center;
            color: $color-branca;
            margin-bottom: 10px;
        }

        .skill-item{
            color: $color-branca;
            font-size: 1.1em;
            margin: 10px;
        }


        .html-bar {
            width: 100%;
            background-color: $color-quaternaria;
            border-radius: 4px;
            height: 24px;
            position: relative;
            overflow: hidden;
            &::before{
                content: '';
                width: 85%;
                height: 24px;
                position: absolute;
                background-color: $color-primaria;
            }
            
        }
        .css-bar {
            width: 100%;
            background-color: $color-quaternaria;
            border-radius: 4px;
            height: 24px;
            position: relative;
            overflow: hidden;
            &::before{
                content: '';
                width: 80%;
                height: 24px;
                position: absolute;
                background-color: $color-primaria;
            }
            
        }
        .js-bar {
            width: 100%;
            background-color: $color-quaternaria;
            border-radius: 4px;
            height: 24px;
            position: relative;
            overflow: hidden;
            &::before{
                content: '';
                width: 70%;
                height: 24px;
                position: absolute;
                background-color: $color-primaria;
            }
            
        }

        .vue-bar {
            width: 100%;
            background-color: $color-quaternaria;
            border-radius: 4px;
            height: 24px;
            position: relative;
            overflow: hidden;
            &::before{
                content: '';
                width: 65%;
                height: 24px;
                position: absolute;
                background-color: $color-primaria;
            }
        }
        .git-bar {
            width: 100%;
            background-color: $color-quaternaria;
            border-radius: 4px;
            height: 24px;
            position: relative;
            overflow: hidden;
            &::before{
                content: '';
                width: 70%;
                height: 24px;
                position: absolute;
                background-color: $color-primaria;
            }
        }

       
    }
}