
<section class="about">
  <div class="about-container">
    <h1 class="about-titulo">Sobre Mim</h1>
  </div>
  <div class="about-conteudo">
    <h3 class="about-subtitulo">Olá, sou Yuri. Prazer em te conhecer.</h3>
    <p class="about-text">
        Olá, eu sou Yuri Rolandi. Atualmente trabalho na empresa Medgrupo, onde ajudo a criar apostilas em HTML e CSS utilizando no dia a dia o Git, Kanbanize, Sass, JavaScript e metodologia ágil para gestão e planejamento de projetos de software (SCRUM), o framework Vue.js e React são os meus preferios para utilização diaria.
    </p>
  </div>
</section>

