<section class="professional">
    <div class="conteudo" data-aos="slide-down">
        <h1>2009</h1>
        <div class="conteudo__linha azul">
            <i class="fa fa-play"></i>
        </div>
        <div class="conteudo__informacao">
            <div class="conteudo__icone">
                <i class="fa fa-star"></i>
            </div>

            <p>
                Inicie minha trajetoria no mundo web.
                iniciei em 2008 pela AIS INFORMATICA o curso de Web Design utilizando as ferramentas dreamweaver, flash
                e firework.
            </p>
        </div>
    </div>
    <div class="conteudo" data-aos="slide-up">
        <h1>2017</h1>
        <div class="conteudo__linha amarelo">
            <i class="fa fa-play"></i>
        </div>
        <div class="conteudo__informacao">
            <div class="conteudo__icone">
                <i class="fa fa-graduation-cap"></i>
            </div>

            <p>
                Iniciei a faculdade de sistema de informação pela Universidade Estacio de Sá.
            </p>
        </div>

    </div>
    <div class="conteudo" data-aos="slide-down">
        <h1>2018</h1>
        <div class="conteudo__linha laranja">
            <i class="fa fa-play"></i>
        </div>

        <div class="conteudo__informacao">
            <div class="conteudo__icone">
                <i class="fa fa-briefcase"></i>
            </div>

            <p>
                Estagio em desenvolvimento de software pela MEDGRUPO, onde adquirir conhecimentos e coloquei os mesmo em
                pratica.
            </p>
        </div>
    </div>
    <div class="conteudo" data-aos="slide-up">
        <h1>2019</h1>
        <div class="conteudo__linha verde">
            <i class="fa fa-play"></i>
        </div>
        <div class="conteudo__informacao">
            <div class="conteudo__icone">
                <i class="fa fa-star"></i>
            </div>

            <p>
                Desenvolvedor Front-End Junior Pela MEDGRUPO.
            </p>
        </div>
    </div>
</section>