
<section class="header">
    <nav class="header-menu">
      <ul class="header-conteudo">
        <router-link tag="li" to="/" class="header-item"><a><i class="fa fa-home" aria-hidden="true"></i>Home</a></router-link>
        <router-link tag="li" to="/" class="header-item"><a href="#"><i class="fa fa-address-card-o" aria-hidden="true"></i>Sobre</a></router-link>
        <router-link tag="li" to="/profissional" class="header-item"><a><i class="fa fa-coffee" aria-hidden="true"></i>Profissional</a></router-link>
        <router-link tag="li" to="/" class="header-item"><a><i class="fa fa-grav" aria-hidden="true"></i>Portfólio</a></router-link>
        <router-link tag="li" to="/contato" class="header-item"><a><i class="fa fa-envelope" aria-hidden="true"></i>Contato</a></router-link>
      </ul>
    </nav>
</section>

