
<section class="header">
    <nav class="header-menu">
      <ul class="header-conteudo">
        <li class="header-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
        <li class="header-item"><a href="#"><i class="fa fa-address-card-o" aria-hidden="true"></i>Sobre</a></li>
        <li class="header-item"><a href="#"><i class="fa fa-building" aria-hidden="true"></i>Profissional</a></li>
        <li class="header-item"><a href="#"><i class="fa fa-grav" aria-hidden="true"></i>Portfólio</a></li>
        <li class="header-item"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>Contato</a></li>
      </ul>
    </nav>
</section>

