@import "../../assets/scss/main.scss";
@import "../../assets/scss/_partial/_variables";

.header {
  display: block;
  background-color: $color-base;
  position: sticky;
  top: 0;
  z-index: 99999;

  .header-menu {
    display: flex;
    justify-content: center;
    border-top: 2px solid $color-secundaria;

    .header-conteudo {
      list-style: none;
      .header-item {
        display: inline-block;
        padding: 20px 5px;
        a {
          padding: 20px 5px;
          font-family: Montserrat, sans-serif;
          color: $color-branca;
          text-decoration: none;

          &:hover {
            background-color: $color-secundaria;
          }

          i {
            color: $color-quaternaria;
            margin: 0 5px;
            font-size: 1.2em;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
 .header{
  .mobile-btn {
    display: block;
    color: white;
    width: 36px;
    height: 36px;
    border-top: 4px solid;
    margin: 20px 20px 0 0;
    float: right;
    position: relative;
    cursor: pointer;
    -webkit-backface-visibility: hidden;

    &::after,
    &::before {
      content: "";
      display: block;
      height: 4px;
      margin-top: 6px;
      background: currentColor;
      position: relative;
      transition: transform 0.2s ease;
    }

    .mobile-btn.active {
      border-top-color: transparent;
    }

    .mobile-btn.active::after {
      margin-top: 0px;
      top: 2px;
      transform: rotate(45deg);
    }

    .mobile-btn.active::before {
      margin-top: 0px;
      top: 6px;
      transform: rotate(135deg);
    }

    .menu-nav.mobile-menu {
      position: fixed;
      background: #56cc9d;
      padding: 10px;
      top: 60px;
      right: 0px;
      opacity: 0;
      visibility: hidden;
      transform: translate3d(60px, 0px, 0px);
      transition: 0.3s;
    }

    .menu-nav.mobile-menu.active {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0px, 0px, 0px);
    }

    .menu-nav.mobile-menu li {
      display: block;
    }

    .menu-nav.mobile-menu li a {
      border-top: 2px solid;
      width: 100%;
      text-align: center;
    }
  }
 }
}
