
<section class="header">
    <nav class="header-menu">
      <ul class="header-conteudo">
        <router-link tag="li" to="/" class="header-item"><a><i class="fa fa-home"></i>Home</a></router-link>
        <router-link tag="li" to="/profissional" class="header-item"><a><i class="fa fa-address-card"></i>Profissional</a></router-link>
        <router-link tag="li" to="/" class="header-item"><a><i class="fa fa-grav"></i>Portfólio</a></router-link>
        <router-link tag="li" to="/contato" class="header-item"><a><i class="fa fa-envelope"></i>Contato</a></router-link>
      </ul>
      
    </nav>
</section>

