@import '../../assets/scss/main.scss';
@import '../../assets/scss/_partial/_typography';
.footer {
    display: block;
    background-color: $color-base;
    height: 100px;

    .footer-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .footer-conteudo{
            display: flex;
            justify-content: center;
            .footer-text{
                color: $color-branca;
                align-self: flex-end;
                font-family: Montserrat;
            }
        }

        .social-media{
            display: block;

            .social-content{
                list-style: none;
                margin-top: 30px;

                .social-item{
                    display: inline-block;
                    margin: 10px 15px;
                    a{
                        color: $color-branca;
                        text-decoration: none;
                        padding: 8px;
                        font-family: Montserrat;
                        border: 2px solid $color-branca;
                        border-radius: 13px;

                        i{
                            font-size: 20px;
                            text-align: center;
                        }

                        &:hover{
                            background-color: $color-branca;
                            color: $color-primaria;
                        }
                    }
                }
            }
        }
    }
}