
<section class="footer">
  <div class="footer-container">
    <div class="footer-conteudo">
      <p class="footer-text">
        © Copyright 019 - All Rights Reserved -
      </p>
    </div>
    <div class="social-media">
      <ul class="social-content">
        <li class="social-item"><a href="#">Linkdin</a></li>
        <li class="social-item"><a href="#">Instagram</a></li>
        <li class="social-item"><a href="#">Curriculo</a></li>
        <li class="social-item"><a href="#">GitHub</a></li>
      </ul>
    </div>
  </div>
</section>

