
<section class="contato">
  
    <div class="contato-form">
      <h1 class="contato-titulo">Contato</h1>
      <label for="">Nome Completo:</label>
      <div class="contato-texto">
        <input type="text" name="" placeholder="Seu nome">
      </div>

      <label for="">Email:</label>
      <div class="contato-texto">
        <input type="text" name="" placeholder="Seu Email">
      </div>

      <label for="">Mensagem:</label>
      <div class="contato-texto">
       <textarea placeholder="Digite aqui..."></textarea>
      </div>
      <a class="btn">Enviar</a>
    </div>


</section>

