@import
'mixins',
'variables';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: $browser-context;
    
    body {
        font-family: roboto, sans-serif;

        section.portfolio{
            display: block;
            height: 100vh;
        }
        section.contato{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding: 40px;
            height: 100vh;
        }

    }
}
  
