
@font-face {
    font-family: Montserrat;
    src: url('/public/fonts/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
    font-family: OpenSans;
    src: url('/public/fonts/OpenSansCondensed-Light.ttf') format('ttf');
}

@font-face {
    font-family: RobotoRegular;
    src: local('/public/fonts/Roboto-Regular.ttf') format('ttf');   
}