@font-face {
    font-family: Montserrat;
    src: local('../../../../public/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: OpenSans;
    src: local('../../../../public/fonts/OpenSansCondensed-Light.ttf');
}

@font-face {
    font-family: RobotoRegular;
    src: local('../../../../public/fonts/Roboto-Regular.ttf');   
}