// ============================== //
// variables
// ============================== //

$path-fonts: 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300|Roboto&display=swap';
$browser-context: 16;
$scrollbar-size: 4px;

// ============================== //
// colors
// ============================== //

$color-base:        #112d4e;
$color-primaria:    #285bfc;
$color-secundaria:  #3f72af;
$color-terciaria:   #dbe2ef;
$color-quaternaria: #f9f7f7;
$color-branca:      #fff;
$color-preto:       #000;






