// ============================== //
// variables
// ============================== //



$browser-context: 16;
$scrollbar-size: 4px;

// ============================== //
// colors
// ============================== //

$color-base:        #112d4e;
$color-primaria:    #285bfc;
$color-secundaria:  #3f72af;
$color-terciaria:   #dbe2ef;
$color-quaternaria: #f9f7f7;
$color-branca:      #fff;
$color-preto:       #000;
$color-roxo:        #3f4a80;

$color-azul:        #3498db;      
$color-azul-claro:  #6ddcfa;      
$color-verde:       #27ae60;      
$color-amarelo:     #f1c40f;      
$color-laranja:     #e74c3c;       








