
<section class="professional">
    <div class="conteudo">
        <div class="conteudo__icone">
            <i class="fa fa-graduation-cap"></i>
        </div>
        <div class="conteudo__linha azul"><i class="fa fa-play"></i></div>
        <div class="conteudo__informacao">
            <h1>2010</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptatem corrupti fugiat, ipsa quae ad, quia necessitatibus illum fuga quasi magni officiis commodi ea
                tempore,
                molestiae quis quisquam adipisci impedit dolor.
            </p>
        </div>
    </div>
    <div class="conteudo-reverso">
        <div class="conteudo-reverso__informacao">
            <h1>2012</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptatem corrupti fugiat, ipsa quae ad, quia necessitatibus illum fuga quasi magni officiis commodi ea
                tempore,
                molestiae quis quisquam adipisci impedit dolor.
            </p>
        </div>
        <div class="conteudo__linha amarelo"><i class="fa fa-play"></i></div>

        <div class="conteudo-reverso__icone">
            <i class="fa fa-lightbulb-o"></i>
        </div>
    </div>
    <div class="conteudo">
        <div class="conteudo__icone">
            <i class="fa fa-graduation-cap"></i>
        </div>
        <div class="conteudo__linha laranja"><i class="fa fa-play"></i></div>
        <div class="conteudo__informacao">
            <h1>2014</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptatem corrupti fugiat, ipsa quae ad, quia necessitatibus illum fuga quasi magni officiis commodi ea
                tempore,
                molestiae quis quisquam adipisci impedit dolor.
            </p>
        </div>
    </div>
    <div class="conteudo-reverso">
            <div class="conteudo-reverso__informacao">
                <h1>2016</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Voluptatem corrupti fugiat, ipsa quae ad, quia necessitatibus illum fuga quasi magni officiis commodi ea
                    tempore,
                    molestiae quis quisquam adipisci impedit dolor.
                </p>
            </div>
            <div class="conteudo__linha verde"><i class="fa fa-play"></i></div>
    
            <div class="conteudo-reverso__icone">
                <i class="fa fa-briefcase"></i>
            </div>
        </div>
</section>

